.disabled_button{
  background:white !important;
  border: 2px solid #E3E1FB !important;
  border-radius: 2px !important;

}
.wrapper{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--description);
  cursor: pointer;
  bottom: 0;

  button{
    outline: none;
    border: 0;
    color: var(--description);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    z-index: 6;
  }
  .selectorActive{

  }
  .selector{
  width: 110px;
    height: 40px;
    background: #E3E1FB;
    z-index: 6;
    border-radius: 1px;
    text-align: center;
    position: relative;
    cursor: pointer;
    img{

    }
  }
  .select_arrow{
    margin-left: 10px;
    transition: all 0.2s;

    img{

    }
  }
  .disable_arrow{
    opacity: 0;
    transition: all 0.2s;
  }
  .selectorList{
    z-index: 6;
    position: absolute;
    display: flex;
    flex-direction: column;
    .selectorItem{
      border:0.1px solid #E3E1FB;
      width: 110px;
      height: 28px;
      background: white;
      cursor: pointer;
      z-index: 6;
      &:hover{
        background: #575786;
        color: white;
      }
    }

  }

}