.choose{
  width: 100%;
  background:#F2F3FE;
  .container{
    max-width: 1280px;
    margin: 0 auto;
    .content{
      padding: 120px 0;
      color: var(--description);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        margin-bottom:10px;
      }
      .subTitle{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        margin-bottom:40px;
      }
      .grid{
        padding: 0 135px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        row-gap: 30px;
        max-width: 800px;
      }
    }
  }
}
@media  (max-width: 1200px) {
  .grid{
    max-width: 768px !important;
    padding: 0 24px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    row-gap: 15px !important;
    img{
      width: 104px;
      height: 72px;
    }
  }
  .title{
    font-size: 25px !important;
  }
  .subTitle{
    font-size: 15px !important;
  }
}
@media  (max-width: 720px) {
  .grid{
    grid-template-columns: minmax(auto,240px) !important;

    img{
      width: 104px;
      height: 72px;
    }
  }
  .title{
    font-size: 25px !important;
  }
  .subTitle{
    font-size: 15px !important;
  }
}