.text_2{
  margin-top: 20px;
}
.button{

    padding-bottom: 80px;
  color: #B93DF6;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  text-align: right;
  img{
    margin-left: 3px;
  }
}
.hide{

}
.show{
  height: auto !important;
}
.container_360{
  transition: all 0.3s;
width: 100%;;
  .image_360{
    max-width: 320px;
    max-height: 196px;
    min-width: 311px;
    min-height: 196px;
  }
  .img_360{
    margin-bottom: 32px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    z-index: 1;


  }
  .background_image_360{
    position: absolute;
    z-index: -1;
    max-width: 352px;
    max-height: 252px;
    min-width: 352px;
    min-height: 252px;
  }
  .text_360{
    margin: 0 auto 10px auto;
    max-width: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 201px;
    min-width: 320px;

  }

}

.seo{
  p {
    text-indent: 25px;
    margin-top: 0 !important;
  }
  width: 100%;
 background: #F2F3FE;;


  .container{
    font-family: Rubik-1 !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    max-width: 1280px;
    margin: 0 auto;
    color: var(--description);
  }
  .title{
    text-align: center;
    padding: 80px 0 40px 0;
    color: var(--description);
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 120%;
  }
  .content{

  padding: 0 32px 80px 32px;
  .container_1{
    z-index: 1;
    .text{

    }

    //height: 520px;
    width: 100%;
    margin: 0 auto;
    position: relative;

  }
    .container_2{
      z-index: 1;
      //height: 520px;
      margin-top: 40px;
      width: 100%;

  }


  }
}

.img{
  position: relative;
  height: 252px;
  border-radius: 5px;
  float: left;
  z-index: 3;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 382px;
}
.background_image{
  max-width: 350px;
  max-height: 252px;

  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  img{
    left: 0;
    position: absolute;
    top: 0;
  }
}
.image{

  padding: 32px 0 0 32px;

  z-index: 3;

  max-width: 350px;
  max-height: 252px;
  img{

  }
}
.image_2{
  max-width: 350px;
  max-height: 252px;
  margin-right: 47px;
  z-index: 3;

}
.background_image2{
  max-width: 350px;
  max-height: 252px;

  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  img{
    z-index: 1;
    left: 0;
    position: absolute;
    top: 0;
  }
}


@media (max-width: 1200px){
  .background_image_360{
    min-width: 320px !important;
    max-width: 320px !important;

  }
  .image{
    padding: 36px 0 0 32px !important;
  }
  .image_360{
    min-width: 300px !important;
    max-width: 300px !important;
    max-height: 172px !important;
    min-height: 172px !important;
  }
  .title{

      font-size: 25px !important;

  }
  .container{
    font-size: 18px !important;
  }
  .background_image{

      width: 382px !important;
      height: 100% !important;
      max-height: 100% !important;
      max-width: 100% !important;
      object-fit: cover;
  }
  .background_image2{

    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
  }
  .container_1{
    //height: 800px !important;

    }
  .container_2{

    //height: 800px !important;

  }
}
@media(max-width: 720px){

  .title{
    font-size: 25px !important;
    padding: 80px 0 40px 0 !important;
    h1{
      font-size: 25px !important;
    }
  }
  .button{
    padding-bottom: 40px !important;
  }
  .content{
    padding: 0 16px!important; ;
  }
}