.back{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 32px;
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: #575786;
  }
  img{
    margin-right: 5px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #575786;

}
.anchor{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #575786;
  margin-bottom: 30px;
  cursor: pointer;
  img{
    width: 18px;
    height: 6px;
  }
  .anchor_text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
.menu{
  width: 100%;
  max-height: 440px;
  background: #575786;
  box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);

  right: 0;
  .menu_container{
    padding: 30px;
    color: white;
    .menu_title{
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    .total{
      display: flex;
      flex-direction: row;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 15px;
      .toch{
        color: #9B8BB6;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
      }
      .totalPrice{
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 120%;
      }
    }

  }
}
.button{
  margin-top: 20px;
  button{
    background: #4CF5E0;
    box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
    border-radius: 2px;
    width: 260px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--description);
    padding: 0 10px;
    outline: none;
    border: 0;
    text-decoration: none;
  }
}
.rules{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  .checkbox{
    background: #F2F3FE;
    border-radius: 8px;
    width: 28px;
    max-width: 24px;
    height: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    .hide{
      opacity: 0;
      transition: all 0.2s;
    }
    img{
      transition: all 0.2s;
      width: 12px;
      height: 8px;
    }
  }
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: #4CF5E0;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 65vh;


  padding-top: 115px;
  .content{
    padding: 0 32px;
    .flex{
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;

      min-height: 25vh;
      .items{

      }
      .menu{

      }
    }

    .title{
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 120%;
      color: var(--description);
      margin-bottom: 40px;
      padding-top: 40px;
    }
  }
}
.items{
  margin-right: 20px;
  width: 60%;
  .first{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #575786;
    margin-bottom: 20px;
  }
  .second{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #575786;
  }
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: var(--brand-color);
  }
}

.add{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  margin-bottom: 30px;
}
.contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .number{
    width: 170px;
    height: 42px;
    input{
      border-radius: 2px;
    }
    color: black;
  }
  .type{
    width: 210px;
    height: 42px;

  }
}

@media (max-width: 1250px) {

  .title{
    padding-top: 40px !important;
  }
  .menu{
    width: auto;
    .menu_container{
      width: auto !important;
      max-width: 450px !important;

    }
  }
  .items{
    max-width: 100% !important;
    margin-right: 0 !important;
    width: 100%;
  }
  .container{
    margin: 0 auto !important;

  }
}
@media (max-width: 720px){
  .back{
    padding: 0 16px !important;
  }
  .title{
    font-size: 25px !important;
  }
  .menu_container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    padding: 60px 60px 60px 40px !important;
  }
  .button{
    button{

      height: 40px !important;
    }
  }
  .number{
    width: 227px !important;
    input{
      max-width: 100%;
    }
  }
  .type{
    width: 240px !important;
  }
  .content{
    padding: 0 16px !important;
  }
    .contacts{
      flex-direction: column !important;
      button{

        height: 40px !important;
      }
      .number{
        margin-bottom: 10px;
      }
    }
  .menu_title{
    font-size: 23px !important;
  }
  .totalPrice{
    font-size: 23px !important;
  }
  .add{
    font-size: 12px !important;
    max-width: 246px;
  }
  .rules{
    font-size: 12px !important;

  }
  .agree{
    max-width: 208px;
  }
  .total{
    justify-content: left !important;
  }
}
.wrapper{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--description);
  background: white;
  height: 40px;

  button{

    outline: none;
    border: 0;
    color: var(--description);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    z-index: 5;
    height: 100%;

  }
  .selectorActive{

  }
  .selector{
    width: 258px;
    height: 100%;
    background: #F2F3FE;
    z-index: 5;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);

    svg{
      margin-left: 10px;
      transition: all 0.2s
    }
    .selector_img_style{
      transform: rotate(360deg);

    }
    .selector_img_style_2{
      transform: rotate(180deg);
    }
  }
  .selectorItem2{
    border:0.1px solid #F2F3FE;
    width: 220px;
    height: 40px;
    background: white;
    z-index: 5;
    cursor: pointer;
    &:hover{
      background: #575786;
      color: white;
    }
  }
  .selector2{
    width: 220px;
    height: 100%;
    background: #F2F3FE;
    z-index: 5;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);

    svg{
      margin-left: 10px;
      transition: all 0.2s
    }
    .selector_img_style{
      transform: rotate(360deg);

    }
    .selector_img_style_2{
      transform: rotate(180deg);
    }
  }
  .selectorList{
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    .selectorItem{
      border:0.1px solid #F2F3FE;
      width: 258px;
      height: 40px;
      background: white;
      z-index: 5;
      cursor: pointer;
      &:hover{
        background: #575786;
        color: white;
      }
    }

  }

}