.input {
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    padding: 0 15px;
    border: 0;
    text-decoration: none;
    outline: none;
    border-radius: 2px;
    border: 1px solid #9B8BB6;
    box-shadow: 0 7px 20px rgba(33, 45, 82, 0.07);
    font-size: 16px;
    color: black;
    transition: all 0.2s;

    &::placeholder {
        color: lightgray;
    }

    &:focus {
        outline: none;

    }



    &Area {
        width: 100%;
        min-height: 110px;
        padding-top: 16px;
        padding-bottom: 16px;
        resize: none;
    }
}
