
.hit{
  position: absolute;
}
.disabled_busket_background{
  background: white !important;
}
.disabled_busket{

  width: 56px;
  height: 33px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1.5px solid #460BD9;
  box-sizing: border-box;
  border-radius: 2px;
}
.container{
  min-width: 210px;
  border-radius: 5px;
  max-height: 263px;
  box-shadow: 2px 4px 4px rgb(87 87 134 / 20%)!important;
  background: white;
  .content{
    padding: 10px;
    display: flex;
    flex-direction: column;

    .img{
      max-width: 100%;
      max-height: 127px;
      margin-bottom: 18px;
      img{
        width: 100%;
        max-height: 127px;
      }
    }
    .title{
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 130%;
      color: var(--description);
      height: 38px;
      margin-bottom: 30px;
      font-family: Rubik-3;
    }
    .footer{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      .price{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--brand-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Rubik-3;
      }
      .busket{
      width: 56px;
        height: 33px;
        background: var(--brand-color);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

    }
  }
}
