.svg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.a{
  outline: none;
  text-decoration: none;
  border: 0;
}
.container {
  &:hover .description{
    color: white !important;
    transition: all 1s;
  }
  &:hover .title{
    color: white !important;
    transition: all 1s;
  }
  z-index: 1;
  position: relative;
  min-width: 598px;
  max-width: 598px;
  min-height: 213px;
  background: white;
  box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
  border-radius: 5px;

  margin-bottom: 20px;
  font-family: Rubik-1;

  .content{
    padding: 16px;
    height: 100%;
    max-height: 179px;
    .flex{
      display: flex;
      flex-direction: row;
      height: 100%;
      .img{

        min-width: 250px ;
        min-height: 100% ;
        margin-right: 15px;
      img{
        max-width: 250px;
        max-height: 212px;

      }
      }
      .text{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 185px;
        color: var(--description);
      .title{
        margin-bottom: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: var(--description);
        transition: all 0.5s;
      }
        .description{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: var(--description);
          transition: all 0.5s;

        }
        .button{
          z-index: -2;
          align-self: flex-end;
          button{
            color: var(--description);
            background: #E3E1FB;
            border-radius: 2px;
            padding: 5px 20px;
            width: 160px;
            height: 36px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 120%;
            outline: none;
            border: 0;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            div{
              margin-left: 5px;
              height: 17px;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 1250px){
  .container{
    max-width: 320px !important;
    min-width: 320px !important;
    max-height: 137px;
    min-height: 137px !important;
  }
  .content{
    padding: 8px !important;
    max-height:121px !important ;
    .img{
      max-width: 100px !important;
      max-height: 75px !important;
      min-width: 100px !important;

      img{
        max-width: 100px !important;
        max-height: 75px !important;

      }
    }
  }
  .title{
    font-size: 15px !important;
  }
  .text{
    .description{
      #text{
        font-size: 11px !important;
      }
    }
  }
  .button{
    button{
      width: 120px !important;
      height: 30px !important;
    }
  }
  .text{
    height: 117px !important;
    max-height: 117px;
  }

}
@media (max-width: 720px) {
  .flex{
    height: 121px !important;
  }
  .content{

    min-height: 121px !important;
  }
}
