.back{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 32px;
  position: absolute;
  top: 124px;
  left: 0;
  font-family: Rubik-3;
  max-width: 1280px;
  margin: 0 auto;
  width: 1280px;
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: #E3E1FB;
  }
  img{
    margin-right: 5px;
    right: 15px;
    border: 0 !important;

    margin-left: 5px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #E3E1FB;

}
@media (max-width: 1200px){
.back{
  left: 0;
  top: 65px;
}
}
@media (max-width: 720px){
  .back{
    font-size: 12px !important;
    top: 66px !important;
    left: -20px;
  }
}