.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
.button_left{
  position: absolute;
  top: 165px;
}
.button_right{
  position: absolute;
  top: 165px;
  right: -15px;
}
.slide{
  min-width: 210px !important;
  box-shadow: 2px 4px 4px  rgb(87  134 134 / 20%);
  border-radius: 5px !important;
}