.container{
  background: white;border-radius: 5px;
  .content{



    .flex{
      padding-left: 5px;


      .detail{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 120%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        height: 15px;
        span{

          color: #575786;
        }
        p{
          color: var(--description);
        }
      }
      .title{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--description);
        margin-bottom: 15px;
      }

    }
  }
}
@media (max-width: 9999999px) {
  .card_footer{

    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 15px;
    align-items: center;
    select{
      background: #E3E1FB;
      padding: 6px;
      width: 110px;
      height: 40px;
      text-align: center;
      outline: none;
      border: 0;
      margin-right: 47px;
      border-radius: 3px;
    }
    span{
      color: var(--brand-color);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      position: absolute;
      bottom: 5px;
      left: 170px;
      width: 77px;
      text-align: center;
    }
  }
  .bucket{
    margin-left: 10px;
    width: 68px;
    height: 40px;
    background: var(--brand-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: -320px;
    cursor: pointer;
  }
  .img{
    width: 250px;
    img{
      width: 250px;
    }
  }
  .content{
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
  }
}
@media (max-width: 1250px){
  .container{
    max-width: 328px;
    display: flex;
    justify-content: center;
    justify-self: center;
  }
  .card_footer{
    span{
      left: 136px;

    }
  }
  .bucket{

    right: -300px;
  }
  .content{
    flex-direction: column;
    width: 298px;
    height: 428px;
  }
  .img{
    width: 100%;
    margin-bottom: 10px;
    img{
      width: 100%
    }
  }
}