.hit{
  position: absolute;
}
.justify{
  justify-content: right !important;
}
.container{
  background: white;border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
  border-radius: 5px;
  max-width: 598px;
  max-height: 218px;
  font-family: Rubik-1;
  .content{
    max-height: 188px;


    .flex{
      padding-left: 5px;
      width: 318px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .detailSelector {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 120%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        height: 26px;

        span {

          width: 158px;
          color: #575786;
          margin-right: 8px;
        }
      }
      .detail{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 120%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        height: 18px;
        span{

          margin-right: 5px;
          color: #575786;
        }
        h3{
          color: var(--description);
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
        }
      }

      .title{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--description);
        margin: 0 !important;
        height: 46px;
        font-family: Rubik-3;
      }

    }
  }
}
@media (max-width: 9999999px) {
  .card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 15px;
    align-items: center;


    span{
      font-family: Rubik-3;
      color: var(--brand-color);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      bottom: 5px;
      left: 170px;
      width: 50%;
      text-align: right;

    }
    .disabled_busket{
      margin-left: 10px;
      width: 68px;
      height: 40px;
      background: white;

      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      right: -320px;
      cursor: pointer;
      border: 1.5px solid #460BD9;
      box-sizing: border-box;
      border-radius: 2px;

    }
  }

  .bucket{
    &:hover{
      background: var(--description);
      transition: all 0.5s;
    }
    transition: all 0.5s;
    margin-left: 10px;
    width: 68px;
    height: 40px;
    background: var(--brand-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: -320px;
    cursor: pointer;
  }
  .img{
    width: 250px;
    min-height: 223px;
    img{
      width: 250px;
      max-width: 250px;
      min-width: 250px;
      min-height: 188px;
      max-height: 188px;
      height: 188px;
    }
  }
  .content{
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
  }
}
@media (max-width: 1250px){

  .content{
    max-height: 400px !important;
  }
  .flex{
    width: 293px !important;
    height: 194px !important;
  }
  .container{
    max-width: 328px;
    min-height: 428px;
    max-height: 428px;
  }
  .card_footer{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
  .bucket{

    right: -300px;
    img{
      min-width: 24px;
      max-width: 24px;
      width: 24px;
      min-height: 22px;
      max-height: 22px;
      height: 22px;
    }
  }
  .content{
    flex-direction: column;
    width: 298px;
    height: 428px;
  }
  .img{
    width: 100%;
    margin-bottom: 10px;
    min-height: 188px;
    img{
      width: 100%;
      height: auto;
    }
  }
  .title{
    margin-bottom: 15px !important;
  }
  .card_footer{
    margin-top: 35px;
  }
}

@media(max-width: 720px ){
  .card_footer{
    margin-top: 0 !important;
  }
  .content{
    max-height: unset !important;
  }
  .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    height: 194px !important;
  }
  .card_footer{



    button{
      height: 40px !important;
    }
  }

}