
.container{
  background: white;border-radius: 5px;
  margin-bottom: 20px;
  .content{



    .flex{
      padding-left: 5px;
      width: 318px;

      .detail{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 120%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;
        height: 15px;
        span{

          color: #575786;
        }
        p{
          color: var(--description);
        }
      }

      .title{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: var(--description);
        margin-bottom: 15px;
        height: 46px;
      }

    }
  }
}
@media (max-width: 9999999px) {
  .card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 15px;
    align-items: center;
    padding-top: 53px;

    span{
      color: var(--brand-color);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      bottom: 5px;
      left: 170px;
      width: 50%;
      text-align: right;

    }
    .disabled_busket{
      margin-left: 10px;
      width: 68px;
      height: 40px;
      background: white;

      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      right: -320px;
      cursor: pointer;
      border: 1.5px solid #460BD9;
      box-sizing: border-box;
      border-radius: 2px;

    }
  }

  .bucket{
    margin-left: 10px;
    width: 68px;
    height: 40px;
    background: var(--brand-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: -320px;
    cursor: pointer;
  }
  .img{
    width: 250px;
    img{
      width: 250px;
    }
  }
  .content{
    display: flex;
    flex-direction: row;
    padding: 15px;
    position: relative;
  }
}
@media (max-width: 1250px){
  .flex{
    width: 293px !important;
  }
  .container{
    max-width: 328px;

  }
  .card_footer{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }
  .bucket{

    right: -300px;
  }
  .content{
    flex-direction: column;
    width: 298px;
    height: 428px;
  }
  .img{
    width: 100%;
    margin-bottom: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }
}

@media(max-width: 720px ){
  .card_footer{
    margin: 0 !important;

    padding: 30px 0 0 0 !important;
  }
}