.button{
  width:186px ;
  cursor: pointer;
  height: 48px;
}

.plazma{
  position: absolute;
  bottom: 15px;
  left: 120px;
  opacity: 0;
  z-index: 5;
  transition: all 0.7s;
}.plazma2{
   position: absolute;
   bottom: 15px;
   left: 50px;
   opacity: 1;
   z-index: 5;
   transition: all 0.7s;
 }
.sale{
  font-family: Rubik-3;
  .sale_svg{
    width: 100%;
    min-height: 546px;
    z-index: -2;
    position: absolute;
  }
  width: 100%;
  min-height: 546px;
  background-position: center;

  .container{
    height: 546px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    .content{
      height: 100%;
      display: flex;
      flex-direction: row;

.timer{
  color: white;
  bottom: 150px;
  right: 20px;
  position: absolute;
  max-height:100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .sale_title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
  }

  .sale_title{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    color: #9B8BB6;
    position: absolute;
    bottom: -57px;
    right: -20px;
    width: 200px;
  }
}
      .offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 120px;
        width: 202px;
        padding-top: 90px;
        padding-left: 36px;
        .title{
          font-style: normal;
          font-weight: bold;
          font-size: 42px;
          line-height: 120%;
        }
        .promo{
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 140%;
        }

      }
      .percents{
        color: white;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 38%;
        font-style: normal;
        font-weight: bold;
        font-size: 141px;
        line-height: 100%;
      }
    }

  }
}
