.shop{
  width: 100%;
  padding-top: 115px;
  background:  #F2F3FE;
  .container{


    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 120%;
        color: var(--description);
        text-align: center;
        margin-bottom: 40px;

      }
      .select{
        margin-bottom: 12px;
        option{
          width: 212px;
          height: 40px;
        }
      select{
        color: white;
        background: #575786;
        border: 0.5px solid #575786;
        box-sizing: border-box;
        width: 212px;
        height: 40px;
        outline: none;

      }
      }

      .button_none{
        display: none;
      }

    }
  }
}
@media (max-width: 99999px){
  .button{
    padding: 0 32px 40px 32px;


    button{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      width: 100%;
      background: none;
      color: #575786;
      border: 0.5px solid rgba(87, 87, 134, 0.76);
      border-radius: 5px;
      padding: 5px;
    }
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 40px;
    margin: 0 32px;
  }
  .container{
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media (max-width: 1250px){
  .button{
    display: flex;
    justify-content: center;
    width: 100%;

      padding: 0 0 40px 0;
    button{

      width: 93%;

    }
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;


  }
  .container{
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 720px){

  .button{
    padding: 0 0 40px 0;
    display: flex;
    justify-content: center;
    margin: 0;
    button{

      width: 75%;

    }
  }
  .grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr ;
    gap: 20px;
    padding: 0 46px 50px 46px;

  }
  .container{
    max-width: 768px;
    margin: 0 auto;
  }
}