.header_component{
  width: 100%;
  background: #181824;


  .container{

    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;



  }
}
@media (max-width: 99999px){
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 120px 32px 0 32px;
    img{
      margin: 100px 0;
      position: relative;
      border: 22px solid #0E0E52;
      box-sizing: border-box;

      width: 90%;

    }
  }
  .content{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .description{
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 120%;
      max-width: 579px;
      text-align: center;
      margin-bottom: 40px;
    }
    .title{
      text-shadow: 4px 4px 6px #0E0E52;
      margin-bottom: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 75px;
      line-height: 120%;
      max-width: 700px;
      text-align: center;
    }
    .button{
      margin-bottom: 5px;
      & button{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: var(--description);
        width: 340px;
        height: 60px;
        background: #4CF5E0;
        border-radius: 2px;
        border:0;
        outline: none;
        text-decoration: none;
      }
    }
    .free{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
@media (max-width: 1200px){
  .container{
    max-height: 606px;
    padding: 40px 25px 40px 25px;
    img{
      margin: 100px 0 60px 0;
      min-height: 446px;
      max-height: 446px;
      max-width: 646px;
    }
  }
  .content{
    padding-top: 40px;
    .description{
      font-size: 23px;
      max-width: 450px;
    }
    .title{
      font-size: 42px;
    }
    .button {

      button{
        font-size: 18px;
        width: 285px;
        height: 54px;
      }
    }
    .free{
      font-size: 15px;
    }
  }


}