.cover{
  z-index: -1;
  position: absolute;
}
.center{
  border: 0 !important;
  z-index: 0;
    position: absolute !important;
  top: -500px;
  width: 1200px !important;
  height: 1200px !important;
  animation-name: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@media (max-width: 1200px){
  .center{
    top: -200px!important;
  }
  .left{
    left: -300px !important;
  }
  .right{
    left: 400px !important;
  }
}
@keyframes center {
  0%{
    transform: scale(0.5);

  }
  50%{
    transform: scale(1);
  }
  100%{

    transform: scale(0.5);

  }

}
@keyframes left {
  0%{
    transform: scale(0.5);

  }
  50%{
    transform: scale(1);
  }
  100%{

    transform: scale(0.5);

  }

}
@keyframes right {
  0%{
    transform: scale(0.5);

  }
  50%{
    transform: scale(1);
  }
  100%{

    transform: scale(0.5);

  }

}
.left{
  width: 1200px !important;
  height: 1200px !important;
  animation-name: left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  left: -500px;
  border: 0 !important;
  position: absolute !important;
  z-index: 0;
  animation-direction: alternate-reverse;
}
.right{
  animation-name: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  width: 1200px !important;
  height: 1200px !important;
  border: 0 !important;
  position: absolute !important;
  z-index: 0;


  right: -500px;
  img{

  }

}
.header_component{
  width: 100%;
  background: #181824;
  position: relative;

  .container{
    position: relative;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;



  }
}
@media (max-width: 99999px){
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 120px 32px 0 32px;
    img{
      margin: 100px 0;
      position: relative;
      border: 22px solid #0E0E52;
      box-sizing: border-box;

      min-width: 990px;
      min-height: 560px;

    }
  }
  .content{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .description{
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 120%;
      max-width: 579px;
      text-align: center;
      margin-bottom: 40px;
    }
    .title{
      text-shadow: 4px 4px 6px #0E0E52;
      margin-bottom: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 75px;
      line-height: 120%;
      max-width: 700px;
      text-align: center;
    }
    .button{
      z-index: 2;
      position: relative;
      &:hover{

        box-shadow: 0px 4px 6px rgba(24, 24, 36, 0.8);
      }
      margin-bottom: 5px;
      & button{
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: var(--description);
        width: 340px;
        height: 60px;
        background: #4CF5E0;
        border-radius: 2px;
        border:0;
        outline: none;
        text-decoration: none;
        transition:  all 0.7s;
        &:hover{
          color: white;
          transition:  all 0.7s;
          background: #B93DF6;
          box-shadow: 0px 4px 6px rgba(24, 24, 36, 0.8);
        }
      }
    }
    .free{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
@media (max-width: 1200px){
  .container{
    max-height: 606px;
    padding: 40px 25px 40px 25px;
    img{
      margin: 100px 0 60px 0;
      min-height: 446px;
      max-height: 446px;
      min-width: 646px !important;
      max-width: 646px;
    }
  }
  .content{
    padding-top: 40px;
    .description{
      font-size: 23px;
      max-width: 450px;
    }
    .title{
      font-size: 42px;
      h1{
        margin: 0 !important;
      }
    }
    .button {

      button{
        font-size: 18px;
        width: 285px;
        height: 54px;
      }
    }
    .free{
      font-size: 15px;
    }
  }
 .left{
   width: 1200px !important;
   height: 1200px !important;
   max-width: 1200px !important;
   max-height: 1200px !important;
   left: -600px !important;
 }
  .center{
      width: 1200px !important;
      height: 1200px !important;
      max-width: 1200px !important;
      max-height: 1200px !important;
      top: -600px !important;
  }
  .right{
    width: 1200px !important;
    height: 1200px !important;
    max-width: 1200px !important;
    max-height: 1200px !important;
    left: 0 !important;
  }

}