.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: absolute;
 width: 100%;
}
.mainTitle{

  color: var(--description);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  max-width: 280px;
  padding-top: 120px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.container{
  margin-bottom: 45px;
  position: relative;
}