.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: absolute;
 width: 100%;
}
.mainTitle{

  color: var(--description);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  max-width: 280px;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.container{
  margin-bottom: 45px;
  position: relative;
  min-height: 598px;
}
.button{
  width: 100%;
  display: flex;
  justify-content: center;align-items: center;
  margin-bottom: 80px;
  button{
    padding: 15px 30px;
    background: #460BD9;
    box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
    border-radius: 2px;
    width: 250px;
    height: 55px;
    color: white;
    outline: none;
    border: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
  }
}