.slide{
  min-width: 802px;
  img{
    min-width: 802px;
  }
}
.modal{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 8;
  transition: opacity 0.4s;
}
.content{
  position: relative;
  transition: opacity 0.4s;
  img{
    min-width: 804px;
    min-height: 602px;
    max-width: 804px;
    max-height: 602px;
  }
  background: white;
  max-width: 804px;
  min-width: 804px;
  height: 602px;
  transform: scale(0.5);
  transition: all 0.4s;
  position: relative;

  .exit{
    position: absolute;
    top: 6px;
    right: 6px;
    max-height: 40px;
    cursor: pointer;
  }
}
.content_active{
  transform: scale(1) !important;
  transition: all 0.4s;
}
.active{
  opacity: 1 !important;
  pointer-events: all;
  overflow:hidden;
  transition: all 0.4s;
}

.box1{grid-area: box1;
  cursor: pointer;
  .box1_description{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;
    height: 50px;
    color: white;

    transition: all 0.5s;
    text-align: center;

    span{
      padding: 10px;
    }

  }


}
.box2{grid-area: box2; height: 216px;
  cursor: pointer;
  .box2_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;
    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
}
.box3{grid-area: box3 ;
  cursor: pointer;
  .box3_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;
    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
  img{
    height: 100%;
  }

}
.box4{grid-area: box4;
  cursor: pointer;
  .box4_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;

    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
}
.box5{grid-area: box5; height: 216px;
  cursor: pointer;
  .box5_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;

    transition: all 0.5s;

    span{
      padding: 10px;
      text-align: center;
    }

  }

}

.next_arrow{
  position: absolute;
  right: 7px;
  top: 52%;

}
.prev_arrow{
  position: absolute;
  left: 22px;
  top: 52%;
}
