.button_block{
  width: 45px;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: rgba(255, 255, 255, 1);

  }
  &:hover svg{

    path{

      fill: var(--description) !important;
    }
  }
  svg{
    width: 30px;
    height: 30px;
    fill: #CFCFDC;


  }
}
.block_left{
  cursor: pointer;
  position: absolute;
  bottom: 57%;
  left: -22px;
  transition: all 0.4s;

}

.block_right{

  svg{
    transform: rotate(180deg);
  }
  cursor: pointer;
  position: absolute;
  bottom: 57%;
  right: -5px;
  transition: all 0.4s;
}
.slide{

  min-width: 100%;
  img{

    width: 100%;
  }
}
.modal{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 8;
  transition: opacity 0.4s;
}
.content{
  position: relative;
  transition: opacity 0.4s;
  img{

  }
  background: white;
  max-width: 804px;
  min-width: 804px;
  height: 602px;

  transition: all 0.4s;
  position: relative;

  .exit{
    position: absolute;
    top: 6px;
    right: 6px;
    max-height: 40px;
    cursor: pointer;
  }
}
.content_active{

  transition: all 0.4s;
}
.active{
  opacity: 1 !important;
  pointer-events: all;
  overflow:hidden;
  transition: all 0.4s;
}

.box1{grid-area: box1;
  cursor: pointer;
  .box1_description{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;
    height: 50px;
    color: white;

    transition: all 0.5s;
    text-align: center;

    span{
      padding: 10px;
    }

  }


}
.box2{grid-area: box2; height: 216px;
  cursor: pointer;
  .box2_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;
    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
}
.box3{grid-area: box3 ;
  cursor: pointer;
  .box3_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;
    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
  img{
    height: 100%;
  }

}
.box4{grid-area: box4;
  cursor: pointer;
  .box4_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;

    transition: all 0.5s;

    span{
      padding: 10px;
    }

  }
}
.box5{grid-area: box5; height: 216px;
  cursor: pointer;
  .box5_description{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 36, 0.6);
    width: 804px;
    bottom: 3px;
    position: absolute;

    height: 50px;
    color: white;

    transition: all 0.5s;

    span{
      padding: 10px;
      text-align: center;
    }

  }

}

.next_arrow{
  position: absolute;
  right: 7px;
  top: 52%;

}
.prev_arrow{
  position: absolute;
  left: 22px;
  top: 52%;
}
