.busket{
  text-align: left !important;
  background: #F2F3FE !important;
}
.Slider_keen{
  padding-left: 9px;
}
.offer{
  width: 100%;
  background: #E3E1FB;
  padding-top: 115px;
  position: relative;
  min-height: 683px;
  .container{
    max-width: 1280px;
    margin: 0 auto;
    color: var(--description);

  }

}
.dots{

  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  background: none;
  width: 100%;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  max-width: 1204px;
}
.slider_slide{
width: 280px;
}
.navigation_wrapper{
  z-index: 1;
  margin-right: 16px;
}

@media( max-width: 99999px){
  .content{
    padding: 0 0 0 24px;
    .flex{
      display: flex;
      flex-direction: row;
      padding-bottom: 150px;

      max-width: 280px;

      .empty{
        width: 280px;
        height: 428px;
        background: #F2F3FE;
        margin-right: 20px;
      }
    }

    .title{
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 120%;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
@media( max-width: 600px){
  .content{
    padding: 0 0 0 8px;
  .title{
    font-size: 25px !important;
  }
  }

}
@media( max-width: 1200px){
  .navigation_wrapper{

    margin-right: 0 !important;
  }
}