.button_block{
  width: 45px;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: rgba(255, 255, 255, 1);

  }
  &:hover svg{

    path{

      fill: var(--description) !important;
    }
  }
  svg{
    width: 30px;
    height: 30px;
    fill: #CFCFDC;

  }
}
.block_left{
  cursor: pointer;
  position: absolute;
  bottom: 57%;
  left: -14px;
  transition: all 0.4s;

}

.block_right{

  svg{
    transform: rotate(180deg);
  }
  cursor: pointer;
  position: absolute;
  bottom: 57%;
  right: -20px;
  transition: all 0.4s;
}
.busket{
  text-align: left !important;
  background: #F2F3FE !important;
}
.Slider_keen{
  padding-left: 9px;
}
.offer{
  background: #E3E1FB !important;
  width: 100%;

  padding-top: 60px;
  position: relative;
  min-height: 608px;
  .container{
    max-width: 1280px;
    margin: 0 auto;
    color: var(--description);

  }

}
.dots{

  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
  background: none;
  width: 100%;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  max-width: 1204px;
}
.slider_slide{
width: 280px;
}
.navigation_wrapper{
  z-index: 1;
  margin-right: 16px;
}

@media( max-width: 99999px){
  .content{
    padding: 0 0 0 24px;
    background: #E3E1FB;
    .flex{
      display: flex;
      flex-direction: row;
      padding-bottom: 150px;

      max-width: 280px;

      .empty{
        width: 280px;
        height: 428px;
        background: #F2F3FE;
        margin-right: 20px;
      }
    }

    .title{
      background: #E3E1FB !important;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 120%;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}
@media( max-width: 600px){
  .offer{
    padding-top: 80px;
  }
  .content{
    padding: 0 0 0 16px;
  .title{
    font-size: 25px !important;
  }
  }
  .flex{
    padding-bottom: 120px !important;
  }


}
@media( max-width: 1200px){
  .navigation_wrapper{

    margin-right: 0 !important;
  }
}