@keyframes center {
  0%{
    transform: scale(0.5);

  }
  50%{
    transform: scale(1);
  }
  100%{

    transform: scale(0.5);

  }

}
@keyframes left {
  0%{
    transform: scale(0.5);

  }
  50%{
    transform: scale(1);
  }
  100%{

    transform: scale(0.5);

  }

}
@keyframes right {
  0% {
    transform: scale(0.5);

  }
  50% {
    transform: scale(1);
  }
  100% {

    transform: scale(0.5);

  }
}
.center{
  animation-name: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  border: 0 !important;
  z-index: 0;
  position: absolute !important;
  top: -300px;
  width: 1200px !important;
  height: 1200px !important;

}
.left{
  animation-name: left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  width: 1200px !important;
  height: 1200px !important;
  left: -400px;
  border: 0 !important;
  position: absolute !important;
  z-index: 0;

}
.right{
  animation-name: right;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  width: 1200px !important;
  right: -400px !important;
  height: 1200px !important;
  border: 0 !important;
  position: absolute !important;
  z-index: 0;
}
.header_component{
  position: relative;
  width: 100%;
  background: #181824;



@media (max-width: 999999px){
  .content{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    .free{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
  .container{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

  }
  .purple{
    button{
      background: #B93DF6 !important;
      box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
      border-radius: 2px;
      color: white !important;
    }
  }
  .button{
    &:hover{
      background: #4CF5E0;
      /* DEEP Shadow */

      box-shadow: 0px 4px 6px rgba(24, 24, 36, 0.8);
    }
    margin-bottom: 5px;
    & button{
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      color: var(--description);
      width: 340px;
      height: 60px;
      background: #4CF5E0;
      border-radius: 2px;
      border:0;
      outline: none;
      text-decoration: none;
      transition:  all 0.7s;
      &:hover{
        color: white;
        transition:  all 0.7s;
        background: #B93DF6;
        box-shadow: 0px 4px 6px rgba(24, 24, 36, 0.8);
      }
    }
  }
  .title{
    text-shadow: 4px 4px 6px #0E0E52;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 120%;
    max-width: 700px;
    text-align: center;
    z-index: 2;
  }
  .container{
    img{
      margin: 100px 20px;
      position: relative;
      border: 22px solid #0E0E52;
      box-sizing: border-box;
      min-height: 650px;
      width: 90%;

    }
  }
}
@media (max-width: 1200px) {
  .center{
    top: -150px;
    width: 600px !important;
    height: 600px !important;

  }
  .left{
    width: 600px !important;
    height: 600px !important;
    left: -300px !important;
    bottom: -200px ;

  }
  .right{

    width: 600px !important;
    right: -300px !important;
    bottom: -200px ;
    height: 600px !important;

  }
  .container{
    padding: 0;
    max-width: 768px!important;
  }
  .button{
    z-index: 2;
    & button{
      font-size: 18px;
      width: 285px;
      height: 54px;

    }
  }
  .container{
    .title{
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 110%;
      max-width: 400px;

    }
    img{
      margin: 20px 20px 40px 20px !important;
      border: 18px solid #0E0E52 !important;
      min-height: 428px !important;
      width: 90% !important;

    }
  }
}
@media (max-width: 720px) {
  .title{
    max-width: 310px !important;
  }
  .left{
    animation-name: none;
  }
  .right{
    animation-name: none;
  }
  .center{
    animation-name: none;
  }
  .free{
    margin-bottom: 40px;
    z-index: 2;
  }
  .button{
    & button{
      width: 262px !important;
      height: 55px !important;
    }
  }
  .container{
    img{
      margin: 0 auto 20px auto !important;
      border: 6px solid #0E0E52 !important;
      min-height: 192px !important;
      max-height: 192px;
      max-width: 320px;
      min-width: 320px;
      width: 100%;

    }
  }
  .content{
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: unset !important;

    .free{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }
  }
  .container{
    max-height: 550px;
  display: flex;
    flex-direction: column;
  }
}