.button{
  width:186px ;
  height: 60px;
  cursor: pointer;
}

.plazma{
  position: absolute;
  bottom: 15px;
  left: 120px;
  opacity: 0;
  z-index: 5;
  transition: all 0.7s;
}.plazma2{
  position: absolute;
  bottom: 15px;
  left: 50px;
  opacity: 1;
  z-index: 5;
  transition: all 0.7s;
}
 .pointer{
   cursor: pointer;
   max-width: 182px;
 }
.sale{
  font-family: Rubik-2;
  a{
    cursor: pointer;
    max-width: 150px;
  }
  .sale_svg{
    width: 100%;
    height: 698px;
    z-index: -2;
    position: absolute;
  }
  width: 100%;
  height: 700px;
  background-position: center;

  .container{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    .content{
      position: relative;
display: flex;
      flex-direction: row;

      .offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 600px;
        max-width: 392px;
        padding: 0 135px;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 75px;
        line-height: 120%;
        margin-bottom: 30px;
      }
        .promo{
          width: 100%;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 120%;

        }
        .sale_title{
          width: 100%;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          margin-bottom: 10px;
          max-height: 60px;
          button{
            width: 186px;
            height: 48px;
            border: 0;
            border-radius: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            background: #B93DF6;
            color: white;
          }
        }
        .time{
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
          color: #9B8BB6;
          position: absolute;
          bottom: 0;
          right: 100px;

        }
      }
      .percents{
        color: white;
        right: 107px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10%;
        font-style: normal;
        font-weight: bold;
        font-size: 300px;
        line-height: 100%;
      }
    }

  }
}
