@import "mixsins";
@font-face {
    font-family: Rubik-2;
    src: url('./fonts/Rubik-Bold.woff2') format('woff2'),
    url('./fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik-1;
    src: url('./fonts/Rubik-Regular.woff2') format('woff2'),
    url('./fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik-3;
    src: url('./fonts/Rubik-Medium.woff2') format('woff2'),
    url('./fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 15px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button_disabled:link:after, a.animated-button:visited:after {
    height: 450%;
    border: 1px solid #460BD9;
}
a.animated-button.victoria-two {
    border: 1px solid #B93DF6;
    background:#B93DF6;
    position: relative;
    pointer-events: none;

}
a.animated-button.victoria-two:hover{
    border: 1px solid #460BD9; ;
}
a.animated-button.victoria-two:after {
    z-index: 1;
    background:linear-gradient(90deg, #460BD9 0%, #009bb4 15%, #460BD9 99.44%);;

    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
:root {
    --brand-color: #460BD9;;
    --description:#0E0E52;
    --light-grey:#E3E1FB;
}
body{
    font-family: Rubik-2;
    margin: 0;
    @include scroll;
}
.arrow{
    width: 30px;
    height: 15px;
    fill: #CFCFDC;;
}
.button-block{
    width: 45px;
    height: 60px;
    box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
    border-radius: 2px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keen-slider{

}
.navigation-wrapper{
    position: relative;
}
.button-block--left{
    cursor: pointer;
    position: absolute;
    bottom: 57%;
    left: -22px;
    transition: all 0.3s;
}

.button-block--right{
    cursor: pointer;
    position: absolute;
    bottom: 57%;
    right: -5px;
    transition: all 0.9s;
}
.arrow--disabled{
    opacity: 0;
    transition: all 0.9s;
}
.dot{
    border: 1px solid #575786;
    box-sizing: border-box;
    border-radius: 50%;
    width: 14px;
    background: none;
    height: 14px;
    margin-right: 8px;
padding: 0;
    flex-shrink: 0;
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;

}
.active{
    background: #575786;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}

#__next {
    overflow: hidden;
}