
@font-face {
    font-family: Rubik-1;
    src: url('./fonts/Rubik-Regular.ttf');
}@font-face {
    font-family: Rubik-2;
    src: url('./fonts/Rubik-Medium.ttf');
}@font-face {
    font-family: Rubik-3;
    src: url('./fonts/Rubik-Bold.ttf');
}
:root {
    --brand-color: #460BD9;
    --description:#0E0E52;
    --light-grey:#E3E1FB;
}
body{
    font-family: Rubik-2;
    margin: 0;
}
.arrow{
    width: 30px;
    height: 15px;
    fill: #CFCFDC;;
}
.button-block{
    width: 45px;
    height: 60px;
    box-shadow: 2px 4px 4px rgba(87, 87, 134, 0.2);
    border-radius: 2px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keen-slider{

}
.navigation-wrapper{
    position: relative;
}
.button-block--left{
    cursor: pointer;
    position: absolute;
    bottom: 57%;
    left: -22px;
    transition: all 0.3s;
}

.button-block--right{
    cursor: pointer;
    position: absolute;
    bottom: 57%;
    right: -5px;
    transition: all 0.9s;
}
.arrow--disabled{
    opacity: 0;
    transition: all 0.9s;
}
.dot{
    border: 1px solid #575786;
    box-sizing: border-box;
    border-radius: 50%;
    width: 14px;
    background: none;
    height: 14px;
    margin-right: 8px;
padding: 0;
    flex-shrink: 0;
}
.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;

}
.active{
    background: #575786;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}

#__next {
    overflow: hidden;
}