.background{
  background: #F2F3FE;
  padding-bottom: 60px;
  min-height: 75vh;
}
.else{
  max-width: 1216px;
  margin: 0 auto 80px auto;

  padding: 0 32px;
  button{
    color: #575786;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    outline: none;
    text-decoration: none;
    border: 1px solid #CFCFDC;
    background: none;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    transition: all 0.3s;
    &:hover{
      background: #9B8BB6;
      color: var(--description);
      transition: all 0.3s;
    }
  }
}
.news_title{
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  color: var(--description);
  text-align: left;
  padding: 150px 32px 50px 32px;
}
.news_container{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 75vh;
  flex-direction: column;
  padding-top: 59px;
  .news_flex{
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  @media (max-width: 720px){

    .news_flex{
      justify-content: center !important;
      padding: 0 8px !important;
      flex-direction: column;

      align-items: center;
    }
    .news_title{
      padding: 40px 8px 50px 8px;
    }

  }
  .error_link{
    position: absolute;
    top: 180px;
    left: 32px;
    a{
      outline: none;
      border: 0;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #575786;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin-right: 5px;
      }
    }

  }
}
.error_container{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  .error_link{
    position: absolute;
    top: 80px;
    left: 32px;
    a{
      outline: none;
      border: 0;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #575786;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        margin-right: 5px;
      }
    }

  }
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 .error_img{
   max-width: 282px;
   max-height: 259px;
   min-width: 282px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   z-index: 3;
   min-height: 259px;
   position: relative;
   font-style: normal;
   font-weight: normal;
   font-size: 96px;
   line-height: 100%;
  img{
    z-index: -1;
    opacity: 0.4;
    position: absolute;
  }
 }
  .error_text{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    color: var(--description);
    margin-top: 40px;
  }
}
.app{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid #E3E1FB;
  &:hover{
    color: white;
    background: #575786 ;
    svg{
      fill: #3496FE;
    }
  }
  img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 15px;
  }
}
.navigation_container{
  width: 100%;

  background: white;
  z-index: 9;
  position: fixed;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s;
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: #0E0E52;
  }

  .navigation_content{
    width: 100% ;
    display:flex;
    flex-direction: column;
    padding-top: 35px;

    a{
      border-bottom: 0.5px solid #E3E1FB;
      padding-left: 20px;
      height: 50px;display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover{
        color: white;
        background: #575786 ;
      }
    }
  }
}
.exit{
  position: absolute;
  top: 7px;
  right: 7px;
  img{
    max-width: 40px;
    height: 40px;
  }
}
.show{
  transform: translateY(0);
  transition: all 0.5s;
  opacity: 1;
}
.header{
min-height: 588px;
}
.preferences{
  min-height:598px ;
}.preferences2{
  min-height:1766px ;
}
.partners{
  min-height: 250px;
}.partners2{
  min-height: 839px;
}
.conditions{
  min-height: 600px;
}
.shop{
min-height: 1593px;
}.shop2{
min-height: 1856px;
}
.offer{
  min-height: 683px;
}.offer2{
  min-height: 769px;
}
.cleaning{
  min-height: 620px;
}.cleaning2{
  min-height: 770px;
}
.releases{
 min-height: 490px;
}.releases{
 min-height: 835px;
}
.sale{
  min-height: 379px;
}.sale2{
  min-height: 700px;
}
.seo{
  min-height: 640px;
}
.feedback{
  min-height: 442px;
}
.modal_container{
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  top: 0;

  opacity: 0;
  pointer-events: none;

  transition: all 0.4s;
}
.modal_container_active{
  opacity: 1 !important;
  pointer-events: all;
  overflow:hidden;
  transform: scale(1);
}
@media (max-width: 720px){
  .else{
    padding: 0 20px !important;
  }
  .error_text{
    font-size: 18px !important;
    text-align: center;
  }
  .error_link{
    position: absolute;
    top: 70px !important;
    left: 8px !important;
    a{
      font-size: 14px !important;
      line-height: 130%;
      color: #575786;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

}
@media (max-width: 1200px){
  .else{
    padding: 0 32px ;
  }
}