.navigation_container{
  width: 100%;
  height: 500px;
  background: white;
  z-index: 7;
  position: fixed;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s;
  a{
    outline: none;
    text-decoration: none;
    border: 0;
    color: #0E0E52;
  }

  .navigation_content{
    width: 100% ;
    display:flex;
    flex-direction: column;
    padding-top: 35px;

    a{
      border-bottom: 0.5px solid #E3E1FB;
      padding-left: 20px;
      height: 50px;display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover{
        color: white;
        background: #575786 ;
      }
    }
  }
}
.exit{
  position: absolute;
  top: 7px;
  right: 7px;
  img{
    max-width: 24px;
    height: 24px;
  }
}
.show{
  transform: translateY(0);
  transition: all 0.5s;
  opacity: 1;
}